
/* 基本变量 */
$size20:20px;
$size18:18px;
$size17:17px;
$size15:15px;
$size14:14px;
$size13:13px;
$size12:12px;
$size11:11px;
$size10:10px;

$color1:#111111;
$color3:#333333;
$color6:#666666;
$color9:#999999;
$color36d8cf:#36d8cf;
$colorf:#ffffff;
$color9:#999999;
$colorffc71e:#ffc71e;
$colorb0:#b0b0b0;
$colorb8fa4a3:#8fa4a3;

/* 标题文字 */
$headline-font:$size18 $color1 bold;
$title-l-font:$size17 $color3 bold;
$title-m-font-regular:$size18 $color1 bold;
$title-m-font-bold:$size14 $color3 bold;
$title-s-font:$size14 $color3 bold;
$link-font:$size15 $color36d8cf;

/* 正文文字 */
$body-title-font:$size12 $color9;
$body-font:$size15 $color3;

